.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Container {
  flex-direction: row;
  align-items: center;
  height: 75%;
  width: 100%;
  margin: bold;
  border: 5%;
  border: solid;
  padding: 2%;
  justify-content: center;
  background-color: rgb(246, 248, 248);
}
.font {
  color: #282c34;
}
